@use '../../layout'
@use '../../theme'

.input_minimal, .input
	box-sizing: border-box
	flex-shrink: 1
	width: 100%
	font: unset
	border: none
	border-radius: 0px
	color: #000
	outline: none
	padding: 0px
	
.input
	@include theme.font-normal
	background: #fff
	outline: 1px solid #e5e5e5
	padding: 10px 20px 10px 20px

.input_minimal::placeholder, .input::placeholder
	@include theme.placeholder
