@use '../../globalStyle/layout'
@use '../../globalStyle/theme'

.container
	width: 100%
	flex-shrink: 1

.input_minimal, .input
	position: static
	box-sizing: border-box
	width: 100%
	font: unset
	border: none
	border-radius: 0px
	color: #000
	outline: none
	padding: 0px

.input
	@include theme.font-normal
	background: #fff
	outline: theme.$light-stroke
	padding: 10px 20px 10px 20px

.input_minimal::placeholder, .input::placeholder
	@include theme.placeholder

.dropbox_container, .dropbox_container_minimal
	@include theme.font-normal
	margin-left: 10px
	margin-right: 10px
	width: calc(100% - 20px)
	height: 0px

.dropbox_container_minimal
	width: calc(100% + 10px)
	margin-left: -10px

.dropbox
	position: relative
	height: fit-content
	box-shadow: 8px 8px 8px #0000001A, -8px 8px 8px #0000001A
	background: adjust-color(theme.$background, $lightness: +2%)
	outline: theme.$light-stroke
	width: 100%

.row
	@include layout.row-left
	position: relative
	width: 100%
	padding: 10px 10px 10px 10px
	cursor: pointer

.row:hover
	background: #fff

.row:hover::before
	position: absolute
	top: 0px
	bottom: 0px
	left: 0px
	right: 0px
	content: ""
	outline: theme.$stroke
