@use '../../globalStyle/layout'
@use '../../globalStyle/theme'

.container_minimal, .container
	flex-shrink: 1
	width: 100%
	white-space: pre-wrap
	overflow: visible
	overflow-y: scroll

.container
	background: #fff
	outline: theme.$light-stroke

.container_minimal::-webkit-scrollbar-thumb, .container::-webkit-scrollbar-thumb
	border: 4px solid #fff

.editor_minimal
	padding: 0px !important

.editor
	display: block
	box-sizing: border-box
	overflow: visible
	width: 100%
	outline: none
	padding: 10px 20px 10px 20px
	color: #000

.editor .placeholder:empty:before, .editor:empty:before
	@include theme.placeholder
	pointer-events: none
	content: attr(data-placeholder) + " "

.editor *
	font-size: 1rem

.editor *:empty:before
	content: " "

.bold
	@include theme.font-normal
	padding-top: 5px
	padding-bottom: 5px
	position: relative

.bold.not_first
	padding-top: 20px

.bold.not_first:after
	top: 20px

.bold:after
	@include theme.font-normal
	position: absolute
	pointer-events: none
	top: 5px
	left: 0px
	color: theme.$active-color
	content: "#"
