@use '../../layout'
@use '../../theme'

.container
	cursor: pointer
	
.button, .close, .minimize
	background-color: #fff0
	transition: background-color 100ms
	padding: 12px
	
.button:hover, .minimize:hover
	background-color: #fff8
	
.close:hover
	background-color: #f008
	color: #fff
		
.close, .minimize
	font: normal normal normal 16px/1 codicon

.close::before
	content: '\eab8'

.minimize::before
	content: '\eaba'