@use '../../globalStyle/theme'
@use '../../globalStyle/layout'

.input_row
	@include layout.row
	position: relative
	width: 100%
	gap: 1px

.input_row::before
	position: absolute
	top: 68px
	content: ''
	width: 100vw
	border-bottom: theme.$stroke

.popularity
	background: #fff
	outline: theme.$light-stroke
	padding: 10px 15px 10px 15px
	height: 38px
	
.input_user
	@include theme.font-normal
	flex-shrink: 1
	width: 50%
	
	display: flex
	align-items: center
	flex-direction: row
	
.input_body
	flex-shrink: 1
	width: 50%
	
.input_vin
	width: 210px

.input_vin *
	@include theme.font-mono