.normal,
.important,
.repetitive {
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	padding: 7px 20px 7px 20px;
	border: 1px solid hsl(0, 0%, 75%);
	background-color: #fff;
	color: #000;
	transition: all 50ms;
	display: flex;
	align-items: center;
}

.normal,
.important {
	font-size: 14px;
	font-weight: normal;
}

.normal:hover {
	background-color: #f3f3f3;
}

.repetitive:hover {
	color: #fff;
	background-color: #0078d4;
}

.important:hover {
	background-color: #1783d6;
}

.important {
	color: #fff;
	border: none;
	/* border-width: 1px; */
	background-color: #0078d4;
	/* border-color: #0078d4; */
}

.repetitive {
	border-color: #0078d4;
	padding: 3px 16px 3px 16px;
}


.windowClose:hover {
	background-color: #f00a;
	color: #fff
}

.windowMinimize:hover {
	background-color: #0003;
}

.windowClose:before,
.windowMinimize:before {
	font: normal normal normal 16px/1 codicon;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.windowClose:before {
	content: '\eab8';
}

.windowMinimize:before {
	content: '\eaba';
}

@font-face {
	font-family: "codicon";
	font-display: block;
	src: url("./codicon.ttf") format("truetype");
}