
.normal, .important {
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	padding: 7px 20px 7px 20px;
	border: 1px solid hsl(0, 0%, 75%);
	background-color: #fff;
	color: #000;
}

.important {
	color: #fff;
	border: none;
	background-color: #0078d4;
}