@use '../../globalStyle/theme'
@use '../../globalStyle/layout'

.container
	@include layout.column
	@include layout.grow
	width: 100%

.expedient_container
	@include layout.row
	@include layout.grow
	overflow: hidden
	width: 100%
	gap: 20px

.expedient_column_left, .expedient_column_right
	@include layout.column-top
	flex-shrink: 1
	height: 100%
	width: 50%
	overflow-x: visible
	overflow-y: auto
	padding: 1px

.expedient_column_right
	gap: 20px

.expedient_column_right::-webkit-scrollbar-thumb
	border: 4px solid theme.$background

.bottom_bar
	@include layout.row-left
	width: 100%
	justify-content: space-between

.bottom_bar_buttons
	@include layout.row
	gap: 20px

.input_row
	@include layout.row

	grid-template-columns: auto auto
	width: 100%
	flex-shrink: 1

.vin_expand_more
	@include layout.row
	background: red
	flex-shrink: 1
	width: 150%
