@use './layout'
@use './theme'

html, body, #root
	@include theme.font-light
	margin: 0
	padding: 0
	width: 100%
	height: 100%

body
	border: theme.$stroke

#root
	@include layout.column-top
	background: #fff
	white-space: pre-wrap
	overflow: hidden

*
	box-sizing: border-box
	user-select: none
	flex-shrink: 0

::-webkit-scrollbar
	width: 10px

::-webkit-scrollbar-track
	background: none

::-webkit-scrollbar-thumb
	border: 4px solid #fff
	background: #aaa

::-webkit-scrollbar-thumb:hover
	background: #777

@font-face
	font-family: "codicon"
	font-display: block
	src: url("./codicon.woff2") format("woff2")

@font-face
	font-family: "roboto-light"
	font-display: block
	src: url("./Roboto-Light.woff2") format("woff2")

@font-face
	font-family: "robotomono"
	font-display: block
	src: url("./RobotoMono-Regular.woff2") format("woff2")
	
@font-face
	font-family: "robotomono-light"
	font-display: block
	src: url("./RobotoMono-Light.woff2") format("woff2")
	
@font-face
	font-family: "roboto"
	font-display: block
	src: url("./Roboto-Regular.woff2") format("woff2")
