$stroke: 1px solid #bbb
$light-stroke: 1px solid #e0e0e0
$background: #eee
$active-color: #0078d4

@mixin placeholder
	@include font-light
	color: #0009

@mixin font-light
	font: lighter 14px "roboto-light"
	font-weight: lighter

@mixin font-normal
	font: normal 14px "roboto"
	font-weight: normal