@use '../../globalStyle/layout'
@use '../../globalStyle/theme'

.container, .star, .pending
	@include layout.row
	width: 20px
	height: 20px

.pointer
	cursor: pointer

.container, .pending
	border: 1px solid theme.$active-color
	border-radius: 100%
	
.pending::after
	width: 10px
	height: 1px
	background: theme.$active-color
	content: ""