.checkBox {
	margin-top: 0px;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background: none;
	border: solid 2px var(--color-primary);
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkBox svg {
	margin-top: 1px;
}