@value weight: 2px;

.container {
	width: 100%;
	height: 75px;
	background-color: #ebebeb;
	border-bottom: solid 1px #bbb;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	gap: 20px;
}

.minimize {
	margin-left: 30px;
}

.minimize,
.close {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: inherit;
	transition: background-color 100ms ease-in-out;
}

.minimize:hover {
	background-color: #ccc;
}

.close:hover {
	background-color: #f77;
}
.close:hover:after,
.close:hover:before {
	border-color: #fff;
}

.minimize:after {
	position: absolute;
	top: calc(50% - weight / 2);
	content: ' ';
	left: 30%;
	width: calc(40% - weight);

	border: solid calc(weight / 2) #666;
	background-color: #666;
	border-radius: weight;
}

.close:hover {
	opacity: 1;
}

.close:before,
.close:after {
	position: absolute;
	top: 25%;
	left: calc(50% - weight / 2);
	content: ' ';
	height: calc(50% - weight / 2);
	border: solid calc(weight / 2) #666;
	background-color: #666;
	border-radius: weight;
	transition: border-color 100ms ease-in-out;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}