@use '../../globalStyle/layout'
@use '../../globalStyle/theme'

.container
	@include layout.column
	position: fixed
	top: 0px
	bottom: 0px
	left: 0px
	right: 0px
	z-index: 100
	background: #0005

.panel
	@include layout.column
	// gap: 20px
	border-radius: 1px
	min-width: 300px
	max-width: 80vw
	// height: 140px
	background: theme.$background

.text
	@include layout.column-top
	@include layout.grow
	// @include theme.font-mono-light
	background: #fff
	border-radius: 1px
	outline: theme.$stroke
	width: 100%
	white-space: break-spaces
	padding: 20px
	line-height: 2rem
	max-height: 80vh
	overflow-y: auto
	overflow-x: hidden
	user-select: text

.buttons_row
	@include layout.row
	width: 100%
	gap: 20px
	padding: 10px 20px 10px 20px
	justify-content: space-around

.buttons_row:empty
	display: none