@use '../../layout'
@use '../../theme'

$height: 41px

.tab_bar
	@include layout.row-left
	width: 100%
	background-color: adjust-color(theme.$background, $lightness: -10%)
	outline: theme.$stroke
	overflow: visible
	height: $height
	flex-shrink: 0

.tab
	@include layout.row
	position: relative
	transition: all 100ms
	outline: theme.$stroke
	outline-color: #0000
	height: $height
	padding: 1px 20px 0px 20px
	
.tab::after
	position: absolute
	bottom: -1px
	left: -2px
	width: unquote("calc(100% + 4px)")
	height: 1px
	background: theme.$background
	content: ""

	
.tab_active
	@extend .tab
	position: relative
	outline: theme.$stroke
	background: theme.$background
	
.tab_active::after
	position: absolute
	bottom: -1px
	left: -2px
	width: unquote("calc(100% + 4px)")
	height: 1px
	background: theme.$background
	content: ""

.tab_content
	@include layout.column-top
	@include layout.grow
	width: 100%
	overflow: hidden
	outline: theme.$stroke
	background: theme.$background
	padding: 30px
	gap: 30px
