html,
body,
#app {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: #f5f5f5;
    font-family: Segoe UI, monospace;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #262626;
}

#app {
    border: solid 1px #bbb;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    flex-shrink: 0;
}

:root {
    --color-primary: #0078d4;
}

.round,
button {
    font-size: 1rem;
    border: solid 1px #bfbfbf;
    border-radius: 5px;
    font: inherit;
    outline: none;
    user-select: none;
}

button {
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    background-color: #fff;
}

.primary-button {
    background-color: var(--color-primary);
    border: none;
    color: #fff;
}

.hand {
    cursor: pointer;
}